# -----------------------------------------------
# ----  EditorConfig  ---------------------------
# ----  https://editorconfig.org  ---------------
# -----------------------------------------------

# -----------------------------------------------
# ----  General  --------------------------------
# -----------------------------------------------

root = true

[*]
end_of_line              = lf
insert_final_newline     = true
charset                  = utf-8
indent_style             = space
indent_size              = 2
tab_width                = 2
trim_trailing_whitespace = true

{% if lang_rust_enabled %}
[*.rs]
indent_size              = 4
tab_width                = 4
{% endif %}

{% if lang_python_enabled %}
[*.py]
indent_size              = 4
tab_width                = 4
{% endif %}

{% if lang_shell_enabled %}
[*.sh]
shell_variant            = {{ lang_shell_type }}
binary_next_line         = true
switch_case_indent       = true
space_redirects          = false
keep_padding             = false
function_next_line       = true
{% endif %}
