---
version: '0.2'

import: []

ignorePaths: []
dictionaryDefinitions: []

dictionaries:
  - en_US
  - softwareTerms
{% if lang_shell_enabled %}
  - bash
{% endif %}

words:
  - foldables
  - keepalive
  - recognised
  - unrecognised
  - worktree
  - worktrees

ignoreWords: []
